---
layout: framework
title: Choose
---


<div class = "container">
	<div class = "container">
		<section class = "header">
			<h3 class = "title"> The Groups </h3> 	
			<p class = "section-description"> 
			Four groups of Londoners, each with a different type of relationship. Choose a group to see what I learned about them through their data.  </p>
		</section>
	</div>
		<div class = "container">
		<div class = "row">
			<div class = "three columns">
				<div class = "container">
					<a href = "../coworkers1" class = "button"> Coworkers </a>
			
				</div>
			</div>
			<div class = "three columns">
				<div class = "container">
					<a href="../roommates1" class = "button"> Roommates</a>
				
				</div>
			</div>
			<div class = "three columns">
				<div class = "container">
					<a href="../family1" class = "button"> Family</a>
				</div>
			</div>
			<div class = "three columns">
				<div class = "container">
					<a href="../couple1" class = "button">Couple</a>
				</div>
			</div>
		</div>
	</div>
</div>


<script> 
	
	// $('#flatmates-image').hover(function() 
	// 	{ $('body').css("background-image", "url(../assets/images/flatmates_background_small.png)"); }); 
	// $('#coworkers-image').hover(function() 
	// 	{ $('body').css("background-image", "url(../assets/images/coworkers01_background_small.png)"); }); 
	// $('#couples-image').hover(function() 
	// 	{  $('body').css("background-image", "url(../assets/images/couple_background_small.png)"); }); 
	// $('#family-image').hover(function() 
	// 	{  $('body').css("background-image", "url(../assets/images/family_background_small.png)"); }); 

</script>

