---
layout: bodypage
---
<!-- This page can have a black background -->
<div class = "couple2">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			[Whatever it is that you've learned]
			</p> 

			

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 <a class="fadeintext button u-full-width nextbutton" href="../couple3">Next</a>
	 	</div>
	 </div>
 </div>
</div>