---
layout: bodypage
---
<!-- This page can be pblack -->
<div class = "couples4">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
				The map puts all of this information together. You can see the trip that the couple go on, their highs and lows in talking to each other, how their contact waxes and wanes. You can see love writ digital. 
			</p> 

			<p>
				Dive into it all by clicking the button below. 
			</p>

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">
	 		<a class="fadeintext button u-full-width seemapbutton" href="../couple"> SEE THE MAP </a>	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 
	 	</div>
	 </div>
 </div>
</div>