---
layout: bodypage
---
<!-- This page can be pblack -->
<div class = "coworkers4">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			When I questioned them about if the two of them really were closer than the other two, they were dismissive. 

			"That was just that month", one of the them even told me. 
			</p> 

			<p>
				But you can look at the data yourself to decide. 
			</p>

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">
	 		<a class="fadeintext button u-full-width seemapbutton" href="../coworkers"> SEE THE MAP </a>	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 
	 	</div>
	 </div>
 </div>
</div>