---
layout: bodypage
---

<div class = "coworkers3">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			The second thing I learned: Just as the coworkers had claimed, their friendship did encompass more than just work. According to their geolocation data, it turned out that two of the three spent more time with each other than the other. In the month that they were tracked, two of them had even traveled together, while the third stayed behind. 
			</p> 


 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 <a class="fadeintext button u-full-width nextbutton" href="../coworkers4">Next</a>
	 	</div>
	 </div>
 </div>
</div>