---
layout: bodypage

---
<!-- This page can have a black background -->
<div class = "coworkers2">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			The first thing that I immediately saw was that the coworker's friendship definitely <em>was</em> centered around their workplace. The data that proved that they did indeed go to and from work every day. And when they did stay together after work hours, it was still in the same general location as their workplace. 
			</p> 


 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 <a class="fadeintext button u-full-width nextbutton" href="../coworkers3">Next</a>
	 	</div>
	 </div>
 </div>
</div>