---
layout: bodypage
title: Co-workers 
---
<!-- This page can have a black background -->
<div class = "coworkers1">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			This is the story of <strong>three coworkers</strong>. I gathered their data from November to December 2014. The three of them had met by working at the same agency in East London, but they had ended up becoming mates whose friendship was not just centered around the workplace.  
			</p> 

			<p> At least, that was what they said. I collected their data for a month, partly with the intention of seeing if there was anything that I could understand better about their friendship. </p>

			<p> It turned out that there definitely was. </p>

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 <a class="fadeintext button u-full-width nextbutton" href="../coworkers2">Next</a>
	 	</div>
	 </div>
 </div>
</div>