---
layout: default
title: Co-workers Map
---
 <div id="dialog" title="Coworkers">
  <p> Watch thirty days in the lives of three friends and co-workers.  Zoom in and out using your  mousepad or the buttons in top left corner. Use the panel on the right to pause, play, and learn more.
  </p>
</div>

  <script type="text/javascript">

var mainMap = setupMapObject(51.505, -0.09, 12, '../blacktiles/{z}/{x}/{y}.png', 16, ["#FFBF00", "#F2F5A9", "#DF3A01"] );

  var lineGenerator = d3.svg.line()
      .interpolate("linear")
      .x(function(d) {return applyLatLngToLayer(d).x})
      .y(function(d) {return applyLatLngToLayer(d).y});

  //Entry function that gets GeoJSON files, waits until all are loaded. 
  getAllGeoJsons(["../Group1Data/friend1.json", "../Group1Data/friend2.json", "../Group1Data/friend3.json"], function(results) {
    worldState.render(results);
    worldState.play();
    mainMap.map.on("viewreset", function() { worldState.render(results) });
  })

  function setupMapObject(latitude, longitude, zoom, tileURL, maximumZoom, colors){
      var map = L.map('map', {
          attributionControl: false })
          .setView([latitude, longitude], zoom); 
      var tiles = L.tileLayer(tileURL, {
          maxZoom: maximumZoom});
          tiles.addTo(map);
      var svg = d3.select(map.getPanes().overlayPane).append("svg");
      var g = svg.append("g").attr("class", "leaflet-zoom-hide");
      var colors = colors;    
      return {
        map: map,
        tiles: tiles,
        svg: svg,
        g: g,
        colors: colors
      };
  }

  function setSVGHeightAndWidth(geojsons, linepaths){ 
      var transform = d3.geo.transform({
        point: projectPoint
      });
      var d3path = d3.geo.path().projection(transform);

      //projecting points because we have to convert geometries 
      function projectPoint(x, y) {
          var point = mainMap.map.latLngToLayerPoint(new L.LatLng(y, x));
          this.stream.point(point.x, point.y);
      }     
      $.each(geojsons, function (index){
          var topLeft = null;
          var bottomRight = 0;
          var newbounds = d3path.bounds(geojsons[index]);              
          if(topLeft == null){
              topLeft = newbounds[0] }
          if (newbounds[0] > topLeft){
              topLeft = newbounds[0] }  
          if (bottomRight == 0){
              bottomRight = newbounds[1] }
          if (newbounds[1] < bottomRight){
              bottomRight = newbounds[1] }
              console.log(topLeft);
              console.log(bottomRight);
          
          mainMap.svg.attr("width", bottomRight[0] - topLeft[0])
              .attr("height", bottomRight[1] - topLeft[1])
              .style("left", topLeft[0] + "px")
              .style("top", topLeft[1] + "px");
          mainMap.g.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
          })
  }

  function makeColorClosure(){
      var closureColorIndex = 0;
      var closure = function () {
          var color = mainMap.colors[closureColorIndex];
          closureColorIndex = (closureColorIndex + 1) % mainMap.colors.length;
          return color; 
      }   
  return closure;  
  }     
  
  function applyLatLngToLayer(d) {
      var y = d.geometry.coordinates[1];
      var x = d.geometry.coordinates[0];
      return mainMap.map.latLngToLayerPoint(new L.LatLng(y, x))
  }

  var getColor = makeColorClosure();
  
  function geojsonToLinepaths(g, data) { 
      features = data.map(function(d) {return d.features}); //list of lists of the features
      var linepaths = g.selectAll("path")
          .data(features)
          .enter()
          .append("path")
          .attr("d", lineGenerator)
          .attr("stroke", getColor)
          .attr("stroke-width", 1.2)
          .attr("fill-opacity", "0")
      return linepaths;

      //return {"linepaths": linepaths, "highlightedLinepaths": highlightedLinepaths}

  }

  function setupLinePaths(linepaths) { 
      linepaths.each(function(d){  d.totalLength = this.getTotalLength();})
        .attr("stroke-dasharray", function(d){ return d.totalLength;})
        .attr("stroke-dashoffset", function(d){return d.totalLength;});
   }
              

  function drawMapAtTime(linepaths, geojsons, time){    
    // find fraction of journey completed, update linepath dashoffset   
         linepaths.each(function(d, i){ 
          d.geojson = geojsons[i];
          d.totalLength = this.getTotalLength();})        
         .attr("stroke-dashoffset", function(d) {return fractionOfJourneyCompleted(d.geojson,time) * d.totalLength + d.totalLength;})


  }
        
  function fractionOfJourneyCompleted(geojson, time) {
        var geojsonTimeValues = []
        $.each(geojson.features, function(key, value){       
            geojsonTimeValues.push(geojson.features[key].properties.t)
            answer = findClosestTimeValue(time, geojsonTimeValues);
            correspondingIndex = geojsonTimeValues.indexOf(answer);  
        });
        fractionValue = geojson.features[correspondingIndex].properties["total-distance"]/geojson.features[(geojsonTimeValues.length-1)].properties["total-distance"];
        //console.log(fractionValue);
        return fractionValue;
  }

  function findClosestTimeValue(number, array) {
      var currentValue = array[0];
      var difference = Math.abs(number - currentValue);
      for (var value = 0; value < array.length; value++){
        var newDifference = Math.abs(number - array[value]);
        if (newDifference < difference){
          difference = newDifference;
          currentValue = array[value];
        }
      }
      return currentValue;
  }

  function getAllGeoJsons(urls, callback) {
      var results = []; 
      // introduce new scope to capture loop index 
      var loaded = function(i){
        return function(data){
        results[i] = data;
        } 
      } 
      //Kick off requests to all files and store them in results
      for (var i = 0; i < urls.length; i++){
          var url = urls[i];
          var dataIndex = i;
          results.push(null);
          d3.json(url, loaded(i));
      }
      timeoutFunc = function(){
      var loaded = true;
      // If no nulls, then we've finished loading.
      for(var i = 0; i < results.length; i++){
          if(results[i] == null){
            loaded = false
          }
      }
      if(loaded) {
          callback(results);
        } else {
            setTimeout(timeoutFunc, 100);
        }
      };
      setTimeout(timeoutFunc, 100) // check every 1/10 second if we have finished loading
  }

  function render(geojsons) {
      mainMap.g.selectAll("path").remove();
      var linepaths = geojsonToLinepaths(mainMap.g, geojsons);
      setSVGHeightAndWidth(geojsons, linepaths);
      setupLinePaths(linepaths);
      self = this;
      setInterval(function(){
        if(!self.playing){
          return;
        }
        //console.log(self);
        linepaths.each(function(linepath, index){
              if (index == 0) {
                drawMapAtTime(linepaths,geojsons,self.timestep * self.multiplier);
              }

           });
        self.timestep += 1;
      }, 100);
  }
  
  var worldState = {
    timestep: 0,
    multiplier: 5000,
    render: render, 
    playing: true,
    play: function(){
      this.playing = true;
    },
    pause: function(){
      this.playing = false;
    },
    reset: function(){
      worldState.timestep = 0;
    },
    changeSpeed: function(){
      worldState.multiplier = realSliderValue[0] + worldState.multiplier;
    }
  };



// Overlay Controls 

$(".header").click(function () {
    $header = $(this);
    $content = $header.next();
    //open up the content needed - toggle the slide-
    $content.slideToggle(500, function () {
        $header.text(function () {
            //change text based on condition
            return $content.is(":visible") ? "-" : "+";
        });
    });
});
 
 $("#slider").slider(
    {
        min: 0,
        max: 100,
        step: 1,
        change: showValue
    });
    $("#update").click(function () {
        $("#slider").slider("option", "value", $("#seekTo").val());
    });

var realSliderValue = [];
    function showValue(event, ui) {
        $("#val").html(ui.value);
         var sliderValue = $( "#slider").slider("value");
         realSliderValue.push(sliderValue);
    };    

$("#playbtn").click(function(){ worldState.play() });
$("#pausebtn").click(function(){ worldState.pause() });
$("#resetbtn").click(function(){ worldState.reset() });
$('.btn').click(function() {
    var currentButton = $(this);
    currentButton.toggleClass('active');
});


function returnTimestep() {
  return worldState.timestep;
}
function assignTimeValue() {
  $("#timevalue").html(returnTimestep());
}

var getCurrentTimestep = setInterval(assignTimeValue, 1);

var example = moment().format(); 

console.log(example)




//--- Modal that opens on page load 
$(function() {
    $( "#dialog" ).dialog()
  });


  $(function() {
    $( "#accordion" ).accordion({
      event: "click hoverintent"
    });
  });
 
  /*
   * hoverIntent | Copyright 2011 Brian Cherne
   * http://cherne.net/brian/resources/jquery.hoverIntent.html
   * modified by the jQuery UI team
   */
  $.event.special.hoverintent = {
    setup: function() {
      $( this ).bind( "mouseover", jQuery.event.special.hoverintent.handler );
    },
    teardown: function() {
      $( this ).unbind( "mouseover", jQuery.event.special.hoverintent.handler );
    },
    handler: function( event ) {
      var currentX, currentY, timeout,
        args = arguments,
        target = $( event.target ),
        previousX = event.pageX,
        previousY = event.pageY;
 
      function track( event ) {
        currentX = event.pageX;
        currentY = event.pageY;
      };
 
      function clear() {
        target
          .unbind( "mousemove", track )
          .unbind( "mouseout", clear );
        clearTimeout( timeout );
      }
 
      function handler() {
        var prop,
          orig = event;
 
        if ( ( Math.abs( previousX - currentX ) +
            Math.abs( previousY - currentY ) ) < 7 ) {
          clear();
 
          event = $.Event( "hoverintent" );
          for ( prop in orig ) {
            if ( !( prop in event ) ) {
              event[ prop ] = orig[ prop ];
            }
          }
          // Prevent accessing the original event since the new event
          // is fired asynchronously and the old event is no longer
          // usable (#6028)
          delete event.originalEvent;
 
          target.trigger( event );
        } else {
          previousX = currentX;
          previousY = currentY;
          timeout = setTimeout( handler, 100 );
        }
      }
 
      timeout = setTimeout( handler, 100 );
      target.bind({
        mousemove: track,
        mouseout: clear
      });
    }
  };


</script>



