---
layout: bodypage
title: Family
---
<!-- This page can have a black background -->
<div class = "family1">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			This is the story of <strong>a family</strong> preparing for a major life change. I was able to gather the phone data from a husband and wife as they prepared for a new baby to be added to their household. The data I collected started just a couple days before the baby was born, but it went through to chart the his first 30 days of life on earth.  
			</p> 

			<p> At least, that was what they said. I collected their data for a month, partly with the intention of seeing if there was anything that I could understand better about their friendship. </p>

			<p> It turned out that there definitely was. </p>

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">	 			
	 	</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 <a class="fadeintext button nextbutton" href="../family2">Next</a>
	 	</div>
	 </div>
 </div>
</div>