---
layout: title_page
---

<div class = "container">
	<div class = "row">
	<section class = "header">
		<h2 class = "title fadeintext"> PATHWAYS </h2> 
	</section>
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p class = "fadeintext backgroundbox"> 
			An exploration of a month in the lives of four groups of Londoners, as told through the digital trails left by their phones. 
			</p>

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">
	 			<a class="fadeintext button u-full-width" href="page2">Begin</a>
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 	</div>
	 </div>
 </div>
  