---
layout: bodypage_centertext
pagename: page3	
---




	<div class = "container">
		<section class = "header"></section>

		<div class = "row">
				<p> Right now, most of that data is used to either market to us or to surveil us. But I became curious about what stories the data from our mobile phones could tell about our relationships with the people we care about.</p>

				<p> So I found four groups of people who agreed to let me gather a month's worth of data from their phones. </p>

				<p> Here's what I learned.</p> 
				
		</div>
	</div>