---
layout: bodypage
pagename: page2
---

{% assign pagename = site.data.pages[page.pagename] %}
<div class = {{ pagename.name}}>
<div class = "container">	
	<div class = "container">
		<div class = "row">
			<section class = "header"></section>

			
				<h4>There are <strong> 7.9 billion </strong> mobile-connected phones on the earth right now, and you probably have at least one of them. </h4>
			</section>
		</div>
		<div class = "row">
				<p>Your phone is constantly tracking and strong your data: the messages you send and receive, the places you visit, the passwords you enter. <strong> Your phone is a data machine</strong>.</p>
		
				

				
		</div>
	</div>
 
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;
	 		</div>
	 		<div class = "four columns">&nbsp;</div>
	 		 <div class = "four columns">
	 		 	<a class="fadeintext button backbutton" href="../index">Back</a>
	 		 	<a class="fadeintext button nextbutton" href="../page3">Continue</a>
	 		</div>
	 	</div>
 	</div>
</div>
</div>
