---
layout: bodypage_centertext
pagename: roommates3
---

<div class = "container">
		<section class = "header"></section>
			<div class = "row">
				<h4>Lesson 2: What Isn't Counted Doesn't Count   </h4>
			</div>
		<div class = "row">
			<p> <em>Something here about the data inconsistencies, about how if things aren't perfectly represented.</em> </p>		
		</div>
	</div>