---
layout: bodypage_centertext
pagename: roommates4
---

<div class = "container">
		<section class = "header"></section>
			<div class = "row">
				<h4>Lesson 3: The Data Shows Friendship  </h4>
			</div>
		<div class = "row">
			<p>
			Finally, I learned that the data did tell one story very well: though in the beginning the flatmates had merely been living their daily lives, on Flatmate 2's final weekend in London, all three of them spent almost the entire time in the same place. 
			</p> 

			<p> The story the data told was of three friends who did go through the difficult process of saying goodbye--<strong>but they went through it together</strong>.

			<p> To see the whole story as it unfolded in real time, click the button below.</p>
 			
		</div>
	</div>