---
layout: bodypage_centertext
pagename: page3	

---

	<div class = "container">
		<section class = "header"></section>

		<div class = "row">
				<p>
			This is the story of <strong>three roommates</strong>. At the time that I gathered their data, they had been living together for close to six months. Despite the short time period, they considered themselves good friends——which is why they were so despondent about the fact that one of them was planning on <strong>moving to France</strong>. 
			</p> 

			<p> I collected data from the <strong>month leading up to the time that the third roommate moved </strong>. </p>

				
		</div>
	</div>