---
layout: bodypage_centertext
pagename: roommates2
---


	<div class = "container">
		<section class = "header"></section>
			<div class = "row">
				<h4>Lesson 1: Everyday Life is Boring  </h4>
			</div>
		<div class = "row">

			<p> Unsurprisngly, most of what people do everyday is pretty boring. It was really easy to see the work schedules of two of the flatmates--every weekday, at the same time, they ventured over to the same locations and then returned.  
				
		</div>
	</div>