---
layout: bodypage_centertext
pagename: roommates5	
---




	<div class = "container">
		<div class = "row">
			<section class = "header"></section>

			
				<h4>There are <strong> 7.9 billion </strong> mobile-connected phones on the earth right now, and you probably have at least one of them. </h4>
			</section>
		</div>
		<div class = "row">
				<p> Right now, most of that data is used to market to and surveil us. But I became curious about what stories the data from our mobile phones could tell when combined with similar data from our loved ones.</p>

				<p> So I decided to gather data from people's phones and see what I could learn. </p> 

				
		</div>
	</div>