---
layout: bodypage
---
<!-- This page can have a black background -->
<div class = "couple1">
<div class = "container">	
	<div class = "row">
		<div class = "four columns">&nbsp;</div>
		<div class = "four columns">
			<p>
			This is the story of a couple in a  <strong>long-distance relationship</strong>, split between the United Kingdom and the United States. One member of the group was based in London, the other in Boston. They had been dating each other for over a year when they agreed to share the data from their phones with me.</p>

			<p>As someone who has had to navigate the difficulties of a long-distance relationship, I was interested in what the story the data from their phones would tell about what love looks like unfolded across borders.  I collected their geolocation data, but also the metadata for their messages. In other words, not just <strong>where they went</strong>, but also information around <strong>when, where, and how they regularly communicated with each other</strong>. 
			</p> 

			

 		</div>
 		<div class = "four columns">&nbsp;</div>
 	</div>
 	<div class = "container">
	 	<div class = "row">
	 		<div class = "four columns">&nbsp;</div>
	 		<div class = "four columns">	 			
	 		</div>
	 		 <div class = "four columns">&nbsp;</div>
	 		 <a class="fadeintext button u-full-width nextbutton" href="../couple2">Next</a>
	 	</div>
	 </div>
 </div>
</div>