html, body, #map {
  height: 100%; }
body {
  margin:0;
  padding:0;
}
#container{
  height: 100%;
}
#map {
  opacity: 1;
}

#footersection {
 /* border-radius: 18px;
  opacity: .9;*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
}
#timebar {
  background: none repeat scroll 0 0 black;
  border-radius: 18px;
  opacity: .9;
  padding: 5px;
  position: fixed;
  left: 20px;
  top: 20px;
  width: 10%;
  min-width:100px;

}
#aboutbar {
  background: none repeat scroll 0 0 black;
  border-radius: 18px;
  opacity: .9;
  padding: 5px;
  position: fixed;
  left: 20px;
  width: 10%;
  clear: both;
  margin-top:10px;
  transition:.5s;
  min-width: 100px;
}

#controlbar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 9%;
  background: black;
  border-radius: 18px;
  opacity: .8;
  padding: 5px;
  min-width: 120px;
}
#controlbar .header {
  width:100%;
  height: 5%;
  background-color: #FFF;
  padding: .5px;
  cursor: pointer;
  font-weight: bold;
  border-radius:18px;
  font-size:10;
  text-align: center;
}
#controls {
  margin-left:10%;
  margin-right: 10%; 
}
#controlbar.content {
  display: block;
  padding: 4px;
  left: 50%; 
  margin-right: -50%;
  position: absolute;
        top: 50%;
        left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40px; 
}
.text, #timevalue, .stats {
  text-align: center;
  color: white;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  padding: 2px 2px 2px 2px;  /* top right bottom left */
  word-wrap: break-word;
}

.largetext {
  text-align: center;
  color: white;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 75%;
  padding: 2px 2px 2px 2px;  /* top right bottom left */
  border-color: #999;
  border: 1px;
  border-style:solid;
  word-wrap: break-word;
}
.stats, #abouttext {
  text-align: center;
  color: #BDB9B6;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 75%;
}
#abouttext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:'';
 /* color: black;*/
  cursor: default;
  transition:.5s;
  margin-left:5px;
  margin-right:5px;
  display:block;
}
#abouttext:hover {
  overflow: visible;
  white-space: normal;
  color:#BDB9B6;
  transition:.5s;
}

#timenumber{
  font-size: 65%;
}
.modaltext {
  align:center;
}

.btn  {
  background: #5a6166;
  background-image: -webkit-linear-gradient(top, #5a6166, #16191a);
  background-image: -moz-linear-gradient(top, #5a6166, #16191a);
  background-image: -ms-linear-gradient(top, #5a6166, #16191a);
  background-image: -o-linear-gradient(top, #5a6166, #16191a);
  background-image: linear-gradient(to bottom, #5a6166, #16191a);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 65%;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
  float:left;
  margin: 5px 2px 2px 2px;
  cursor: pointer;
  width: 25%;
  min-width: 30px;
}
.btn:hover, .btn:active{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  width: 25%;
}
.play {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #FFF;
    border-bottom: 8px solid transparent;
}
.pause {
    width: 12px;
    height: 16px;
    border-right: 4px solid #FFF;
    border-left: 4px solid #FFF;
}


.reset {
  width: 1px;
    border-top: 8px solid transparent;
    border-right: 12px solid #FFF;
    border-bottom: 8px solid transparent;
    float:left;
}

.reset:after  {
    width: 1px;
    height: 16px;
    border-left: thick solid #FFF;
    float: left;
}

.space{
  clear:both;
  padding-top:1%;
}
#slider {
  margin-top: 10px;
  margin-left:10px;
  margin-bottom:10px;
  width:90%;
  background: white;
  clear:both;
}
#seekTo, #update {
  border-radius:20%;
  width:15%;
  float:left;
  margin:2%;
}
#update{
  width:40%;
}

.keytext {
  color: #1C1C1C;
  font-family: 'Open Sans', sans-serif;
  font-size: 65%;
  margin-left:10%;
  margin-right:10%;
}

#flatmate1key {
  width: 75%;
  height: 75%;
  background: #09c9b1;
  margin-left:1rem;
  float:left;
  margin-bottom:1rem;
  border-radius:12%;
}
#flatmate2key {
  width: 75%;
  height: 75%;;
  background: #e5ff4c;
  margin-left:1rem;
  margin-bottom:1rem;
  clear:both;
  float:left;
  border-radius:12%;
}
#flatmate3key {
  width: 75%;
  height: 75%;
  background: #ff674c;
  margin-left:1rem;
  margin-bottom:1rem;
  clear:both;
  float:left;
  border-radius:12%;
}

.icon {
  width: 30%;
  text-align: center;
}

#menu {

}

.menubutton {
  -moz-box-shadow:inset 0px -1px 0px 0px #635863;
  -webkit-box-shadow:inset 0px -1px 0px 0px #635863;
  box-shadow:inset 0px -1px 0px 0px #635863;
  background:black;
  -moz-border-radius-topleft:15px;
  border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -moz-border-radius-topright:15px;
  border-top-right-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  -moz-border-radius-bottomright:15px;
  border-bottom-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -moz-border-radius-bottomleft:15px;
  border-bottom-left-radius:15px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  font-style:normal;
  height:37px;
  line-height:37px;
  width:67px;
  text-decoration:none;
  text-align:center;
}
.menubutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4a444a), color-stop(1, #0f0d0f) );
  background:-moz-linear-gradient( center top, #4a444a 5%, #0f0d0f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a444a', endColorstr='#0f0d0f');
  background-color:#4a444a;
}.menubutton:active {
  position:relative;
  top:1px;
}
 .reveal-modal {
  background: #060707 !important;
  /*background-color: #999 !important;*/
  border-color: #16191a !important;
  border-radius: 10% !important;
  color:  #BDB9B6 ;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter !important;
  font-size:85%;

 } 
  .modaltext {
    text-align: left;
  }
#modal .modaltext h3 {
  text-shadow: 2px 2px 4px rgba(150, 150, 156, 1);
}


/*Tipsy CSS*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
  .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }