
body {
 /* background: url(../assets/images/background_lightest.png) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
}
.page2 {
/*  background: url(../assets/images/background_lightest.png) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}
.page3{}

.roommates1 {}
.roommates2 {}
.roommates3 {}
.roommates4 {}
.coworkers1 {}
.coworkers2 {}
.coworkers3 {}
.coworkers4 {}
.couple1 {}
.couple2 {}
.couple3 {}
.couple4 {}
.family1 {}
.family2 {}
.family3 {}
.family4 {}


.header {
	margin-top: 14rem;
	text-align: center;
  font-family: 'Open Sans', sans-serif;	
}

.section-desctiption {
	margin-bottom: 4rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.image-choice {
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
}

p {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0rem;
	display: block;
  	width: 100%;
  	height: 6.5rem;
  	background: #fff;
 	z-index: 99;
 	border-top: 1px solid #eee;
  	border-bottom: 1px solid #eee;
  	float: left;
}

.navbar-item {
	position: relative;
	float:left;
	margin-bottom: 0;
	display: inline;
	list-style: none;
	text-transform: uppercase;
}

.navbar-list {
	list-style: none;
	margin-bottom: 0;
	text-decoration: none;
}


.navbar-link {
	text-transform: uppercase;
  	font-size: 11px;
  	font-weight: 600;
  	letter-spacing: .2rem;
  	margin-right: 35px;
  	text-decoration: none;
  	line-height: 6.5rem;
  	color: #222;
    margin-left: 2rem;
}

.navbar-link.active {
    color: #33C3F0; }

.title .section-heading {
	text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

.backgroundbox {
	color: black;
	background-color: white;
	padding: 2rem;
	border-radius:xs 12px
  opacity: .6;
}


.choosebox {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topleft:12px;
  border-top-left-radius:12px;
  -webkit-border-top-right-radius:12px;
  -moz-border-radius-topright:12px;
  border-top-right-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  -moz-border-radius-bottomright:12px;
  border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  -moz-border-radius-bottomleft:12px;
  border-bottom-left-radius:12px;
  text-indent:0px;
  border:4px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family: 'Open Sans', sans-serif;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:200px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.choosebox:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
  background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
  background-color:#e9e9e9;
}.choosebox:active {
  position:relative;
  top:1px;
}

.about-text {
  text-align: left;
}

.nextbutton {

}

.backbutton {
  
}
.seemapbutton {

}

.fadeintext {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

